**/bin/
**/obj/
*.suo
**/packages/
Src/System.Linq.Dynamic.sln.DotSettings.user
*.nupkg
*.dll
Src/TestResults/
/CSharpSamples/LinqSamples/SampleQueries/.vs/SampleQueries/v15/Server/sqlite3
/CSharpSamples/LinqSamples/SampleQueries/Backup
/CSharpSamples/LinqSamples/SampleQueries/UpgradeLog.htm
/CSharpSamples/LinqSamples/SimpleLinqToObjects/.vs/SimpleLinqToObjects/v15/Server/sqlite3
/CSharpSamples/LinqSamples/SimpleLinqToObjects/Backup
/CSharpSamples/LinqSamples/SimpleLinqToObjects/UpgradeLog.htm
/Src/.vs/System.Linq.Dynamic/v15/Server/sqlite3
/Src/System.Linq.Dynamic.TestConsole
/.vs
