body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    background-color: white;
    border-radius: 0 0 6px 6px;
    box-shadow: 0px 0px 8px 5px darkgray;
}

.body-footer {
    padding-top: 15px;
}


/*Fix Issues with bootstrap and Sunlight for code snippets*/
pre {
    padding: 0;
    border: none;
    background-color: white;
}

.sunlight-code-container {
    padding: 4px;
    border-radius: 3px;
}