@model DynamicLinqWebDocs.Models.Expression

@{
    ViewBag.Title = Model.Name + " Expression";
}

<h2>@Model.Name <small>Expression</small></h2>

@Html.FormatMarkdown(Model.Description)

@Html.DisplayFor(x => x.Remarks, "Remarks")
@Html.DisplayFor(x => x.Examples, "Examples")